{% extends json is defined?"../inline.twig":"../layout.twig" %}

{% block body %}
	<h1>Twig Notebook</h1>

    <div class="welcome">
      Welcome to the Twig Notebook demo.
      This is a demonstration of how to use Twig.js on both client and server side using Express with progressive enhancement.

    	<nav><a href="/notes" class="ajax_link button">Open the Notebook</a></nav>
    </div>
{% endblock %}
