{% extends json is defined?"../inline.twig":"../layout.twig" %}

{% block title %}:( Twig.Notebook{% endblock %}

{% block body %}
<h2>Unable to find the requested note!</h2>
<br />
Why not <a href="/notes" class="ajax_link">go back to the list</a> and select a note from there?
{% endblock %}