{% extends "../layout.twig" %}

{% block title %}{{ title }} :: Twig.js Notepad{% endblock %}

{% block body %}
    <div class="note">
        <h3>{{ title }}</h3>
        <div class="text">
            {{ markdown }}
        </div>
    </div>
	<a href="/edit/{{ id }}">Edit</a>
{% endblock %}