{% extends json is defined?"../inline.twig":"../layout.twig" %}

{% block title %}Twig.Notebook{% endblock %}

{% block body %}
<nav>
	<a class="button right ajax_link" href="/add">New</a>
	<a class="button ajax_link" href="/">Back</a>
</nav>
<h2>Twig.js Notes</h2>
{% if messages is not empty %}
	<div class="message">{{ message }}</div>
{% endif %}
<div class="notes">
    <ul>
        {% for id,note in notes %}
        <li>
            <a class="ajax_link" href="/notes/{{ id }}">{{ note.title }}</a>
            <span class="count">({{ note.text|length }} characters)</span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
