{% block header %}
    <header class="header">
    <div class="logo-wrapper"><img src="/img/logo.mini.png" width="64"></div>
    <div class="name-wrapper"><h1>Langivi Technology</h1></div>
    </header>
{% endblock %}
